@use './transition';

// 如果出现组件库样式有问题的情况
// 注释掉 @tailwind base;  
// https://blog.csdn.net/JackZhouMine/article/details/140441659
@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

.dark::view-transition-old(root) {
  z-index: 2147483646;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

#app {
  @apply h-screen w-screen;
}

* {
  scrollbar-color: var(--el-scrollbar-bg-color) var(--el-fill-color-light)
}

::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar:horizontal {
  height: 6px
}

::-webkit-scrollbar-track {
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all .2s ease-in-out
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #0000004d
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #fff3
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #fff6
}
