:deep(.el-menu.el-menu--vertical) {
  padding: 0 5px;
}

:deep(.el-menu-item.is-active),
:deep(.el-sub-menu.is-active:not(.is-opened) .el-sub-menu__title) {
  background-color: var(--el-menu-active-color);
  color: #fff;
}

:deep(.el-sub-menu__title),
:deep(.el-menu-item) {
  border-radius: 8px;
  height: 50px;
}